# macOS
.DS_Store
.AppleDouble
.LSOverride

# zip 包
*.zip
# Node
node_modules/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
# 编辑器 / IDE
.idea/
*.swp
*.swo
# 环境变量
.env
.env.local
.env.*.local
# 日志
*.log
logs/
.git_bak/
