// 微信小程序专用样式
/*  #ifdef WEAPP */
.wx-only {
  display: block;
}
/*  #endif */

// H5 专用样式
/*  #ifdef H5 */
.h5-only {
  display: block;
}
/*  #endif */

// 支付宝小程序专用样式
/*  #ifdef ALIPAY */
.alipay-only {
  display: block;
}
/*  #endif */

// 通用样式（所有平台都会显示）
.common {
  display: block;
}
