{
  "extends": ["@guanghe-pub/stylelint-config"],
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["**/*.html"],
      "customSyntax": "postcss-html"
    }
  ]
}
